<!-- Skills-->
<section class="resume-section m-2" id="skills">
  <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages & Tools:</div>
      <ul class="list-inline dev-icons">
          <a class="list-inline-item social-icon m-2"><i class="fab fa-html5 fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-css3-alt fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-js-square fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-angular fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-react fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-node-js fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-sass fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-less fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-wordpress fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-gulp fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-grunt fa-3x"></i></a>
          <a class="list-inline-item m-2"><i class="fab fa-npm fa-3x"></i></a>
      </ul>
      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Mobile-First, Responsive Design
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Cross Browser Testing & Debugging
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Cross Functional Teams
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Agile Development & Scrum
          </li>
      </ul>
  </div>
</section>
<hr class="m-3"/>
<!-- Awards-->
<section class="resume-section m-2" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Awards & Certifications</h2>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Google Analytics Certified Developer
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Mobile Web Specialist - Google Certification
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              1
              <sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              1
              <sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              2
              <sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              1
              <sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              3
              <sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005
          </li>
      </ul>
  </div>
</section>
