/* You can add global styles to this file, and also import other style files */
body {
  color: #9db3c8;
  background-color: #212529;
}
h2{
  color: #3787ffe3;
}
.banner {
  margin: 3px auto;
  padding: 2px;
  text-align: center;
  background-color: #3787ffbd;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}