<div class="m-2 about">
  <div class="about__title mb-5">
    <h2>Sobre mi</h2>
  </div>
  <div class="about__description">
    <p>Soy una persona apasionada por la tecnología y la electrónica, con una gran curiosidad
      y capacidad para aprender. A lo largo de mi carrera de 23 años en una empresa del 
      ámbito financiero con 1400 empleados, he tenido la oportunidad de trabajar con muchos 
      equipos de trabajo y siempre he destacado por mi buen trato personal y mi capacidad 
      para colaborar con los demás.</p>
    <p>Recientemente he decidido cambiar el rumbo de mi carrera para enfocarme en el 
      desarrollo de aplicaciones web y móvil. Me encanta el desafío que supone aprender nuevas 
      habilidades y estoy seguro de que mi curiosidad y buena comprensión serán una gran 
      ventaja en este campo.</p>
    <p>Una de las cosas que más disfruto es trabajar en equipo y colaborar con otros 
      profesionales para lograr objetivos comunes. Me considero una persona cordial, con un 
      buen sentido del humor y siempre con una actitud positiva.</p>
    <p>Estoy convencido de que mi experiencia laboral, mi pasión por la tecnología y mi 
      facilidad para trabajar en equipo serán una gran ventaja para cualquier proyecto en el 
      que trabaje. Me encanta enfrentar nuevos desafíos y estoy seguro de que puedo aportar 
      mucho valor a cualquier equipo que me dé la oportunidad de formar parte de él.</p>
    <p>Gracias por tomarte el tiempo para conocerme. Estoy emocionado por las oportunidades 
      que puedan surgir y estoy seguro de que podemos hacer grandes cosas juntos.</p>
  </div>
</div>
<hr class="m-3"/>