<footer class="py-4 bg-body-tertiary bg-dark rounded-4" data-bs-theme="dark">
  <div class="social-icons nav justify-content-center">
    <a class="social-icon m-2" href="https://www.linkedin.com/in/pablo-andres-amaya/"><i class="fab fa-linkedin-in fa-2x"></i></a>
    <a class="social-icon m-2" href="https://github.com/Pablo22Tucu"><i class="fab fa-github fa-2x"></i></a>
    <a class="social-icon m-2" href="https://www.instagram.com/pablo_andres_amaya/"><i class="fab fa-instagram fa-2x"></i></a>
  </div>
  <hr class="m-3"/>
  <div class="footer nav justify-content-center">
    <div class="footer__copy">
      <p class="text-center">© 2023 Pablo Andres Amaya. Todos los derechos reservados.</p>
    </div>
  </div>    
</footer>
